.myspacerized .main-content,
.myspacerized .stream,
.myspacerized .details-pane,
body.narrow.myspacerized .details-pane-tweet,
body.narrow.myspacerized .details-pane .pane-components-inner {
  background: rgba(255, 255, 255, 0.05) !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}